<h1>Vous etes en train de valider votre abonnement</h1>
<p> Prix total a payer : @ViewBag.PrixAPayer AR</p>
<p> Remise de : @ViewBag.remise %</p>
<p> Au lieu de : @ViewBag.AuLieu AR</p>
<p>
    <a href="">Annuler</a>
    <a href="./abonne?prixPaye=@ViewBag.PrixAPayer&&typeAbo=@ViewBag.TypeAbo&&choix=@ViewBag.Choix">Confirmer</a>
</p>